<div class="mt">
  <div class="showback">
    <div class="panel">
      <div class="panel-body">
        <div class="panel-title">
          Editar Restriction
        </div>
        <%= render 'form', restriction: @restriction %>
        <div class="card-action">
          <%= link_to 'Atras', :back %>
        </div>
      </div>
    </div>
  </div>
</div>
