<nav>
  <div class="nav navbar-fixed green">
    <ul class="">
      <li class="col s6"><%= link_to 'Mostrar Solicitudes', request_service_admin_index_path, class: 'btn white green-text' %></li>
      <li class="col s6"><%= link_to 'Gestion de solicitudes', petitions_path, class: 'btn white green-text' %></li>
    </ul>
  </div>
</nav>
