<div class="mt">
  <div class="showback">
    <div class="panel">
      <div class="panel-body">
        <h4>
          <i class="fa fa-angle-right"></i>
          Enviar solicitud de servicio
        </h4>
        <%= render 'form', petition: @petition %>
      </div>
    </div>
  </div>
</div>
