<div class="container">
  <div class="card black-text">
    <div class="card-content">
      <div class="card-title">
        Editar Documento
      </div>
      <%= render 'form', budget_document: @budget_document %>
    </div>
    <div class="card-action">
      <%= link_to 'Mostrar', @budget_document %> |
      <%= link_to 'Atras', budget_documents_path %>
    </div>
  </div>
</div>
