    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name, 'Nombre del sector' %>
        <%= f.text_field :name, class:'form-control', required: :true %>
      </div>
    </div>
