<div class="mt">
  <div class="showback">
    <div class="panel">
      <div class="panel-body">
        <h4>
          <i class="fa fa-angle-right"></i>
          Registrar Documnetos de Analisis
        </h4>
        <%= render 'form', document_analysis: @document_analysis %>
        <div class="card-action">
          <%= link_to 'Atras', :back %>
        </div>
      </div>
    </div>
  </div>
</div>
