<div class="container-fluid">
  <div class="row">
    <div class="col l4 box m4 s6">
      <div class="card-panel center-align">
      <span><span class="green-text"><%= @petition_without_seeing %>/<%= @petition %></span> Solicitudes Pendientes</span>
      </div>
    </div>
    <div class="col l4 box m4 s6">
      <div class="card-panel center-align">
        <div class="card-content">
          <div class="card-title">
            <span><span class="green-text"><%= "#{@studies_accepted}/#{@studies}" %></span> Solicitudes en Estudio</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col l4 box m4 s6">
      <div class="card-panel center-align">
        <div class="card-content">
          <div class="card-title">
            <span><span class="green-text"><%= "#{@calendar_acceptad}/#{@calendars}" %></span> Solicitudes en visita</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col l4 box m4 s6">
      <div class="card-panel center-align">
        <div class="card-content">
          <div class="card-title">
            Solicitudes en Analisis
          </div>
        </div>
      </div>
    </div>
    <div class="col l4 box m4 s6">
      <div class="card-panel center-align">
        <div class="card-content">
          <div class="card-title">
            Solicitudes en Presupuesto
          </div>
        </div>
      </div>
    </div>
    <div class="col l4 box m4 s6">
      <div class="card-panel center-align">
        <div class="card-content">
          <div class="card-title">
            Solicitudes en Aceptacion
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
