<div class="mt">
  <div class="showback">
    <div class="panel">
      <div class="panel-body">
        <h3 class="panel-title">Editar Sector</h3>
        <%= render 'form', sector: @sector %>
        <div class="">
          <%= link_to 'Regresar', plants_path %>
        </div>
      </div>

    </div>
  </div>
</div>
