<div class="mt">
  <div class="showback">
    <div class="panel">
      <div class="panel-body">
        <div class="panel-title">
          Editar Planta
        </div>
        <%= render 'form', plant: @plant %>
        <%= link_to 'Atras', :back %>
      </div>
    </div>
  </div>
</div>
