<div class="container">
  <div class="video-container responsive-video">
    <iframe width="640" height="300" src="//www.youtube.com/embed/cmWkh_z9y-k" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
