<div class="card z-depth-5">
  <div class="card-content">
    <div class="card-title">Nueva Empresa</div>
    <%= render 'form', company: @company %>
  </div>
  <div class="card-action">
    <%= link_to 'Atras', :back %>
  </div>
</div>
