<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Editar Sensor
      </div>
      <%= render 'form', sensor: @sensor %>
    </div>
    <div class="card-action">
      <%= link_to 'Mostrar', @sensor %>
      <%= link_to 'Atras', sensors_path %>
    </div>
  </div>
</div>
