<div class="mt">
  <div class="showback">
    <div class="panel">
      <div class="panel-body">
        <div class="panel-title">
          Creacion de Usuario
        </div>
        <%= render 'form', account: @account %>
      </div>
    </div>
  </div>
</div>
